:root{
    --var-fontTitle: 'Noto Sans JP', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--var-fontTitle);
    height: auto;
    width: 100% ;
}

.searchApi .button button{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-style: inset;
    background-color: #000000;
    opacity: 70%;
    color: white;
}

.searchApi .button button:hover, .searchApi .button button:active{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(49,49,144,1) 52%);
}
@media (max-width: 768px) { /* Moviles en horizontal - tablets en vertical */
    .main-image{
        width: 100%;
        height: 40vh;
    }

    .main-image h1{
        position: absolute;
        left: 20px;
        top: 24px;
        color: #745f56;
    }    

    .main-image figure{
        background-image: url("https://cdn.pixabay.com/photo/2018/05/07/10/49/husky-3380550_960_720.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 10%;
    }
    .searchApi{
        height: 40vh;
        width: 100%;
    }
    .searchApi h3, .searchApi p{
        position: relative;
        top: 24px;
        left: 20px;
    }
    .searchApi .button{
        display: flex;
        justify-content: center;
        position: relative;
        top: 50px;
        height: auto;
    }
    .searchApi .button button{
        position: relative;
        width: 50vw;
        height: 4vh;
        border-radius: 12px;
    }
    .searchApi .containerImages{
        position: absolute;
        left: 40px;
        top: 450px;
        border: #000000 solid;
        height: 300px;
        width:  300px;
    }
    .searchApi .containerImages img{
        position: relative;
        max-width: 100%;
        max-height: 100%;
        object-fit:fill;
    }
}

@media (max-width: 1024px)
{
    .main-image{
        width: 100%;
        height: 40vh;
    }

    .main-image h1{
        position: absolute;
        left: 60px;
        top: 24px;
        color: #745f56;
    }    

    .main-image figure{
        background-image: url("https://cdn.pixabay.com/photo/2018/05/07/10/49/husky-3380550_960_720.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 10%;
    }
    .searchApi{
        height: 40vh;
        width: 100%;
    }
    .searchApi h3, .searchApi p{
        position: relative;
        top: 24px;
        left: 20px;
    }
    .searchApi .button{
        display: flex;
        justify-content: center;
        position: relative;
        top: 50px;
        height: auto;
    }
    .searchApi .button button{
        position: relative;
        width: 50vw;
        height: 4vh;
        border-radius: 12px;
    }
    .searchApi .containerImages{
        position: absolute;
        left: 40px;
        top: 450px;
        border: #000000 solid;
        height: 300px;
        width:  300px;
    }
    .searchApi .containerImages img{
        position: relative;
        max-width: 100%;
        max-height: 100%;
        object-fit:fill;
    }
}